@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  background: linear-gradient(to bottom, #f8fafc, #e2e8f0); /* fondo claro */
  font-family: "Lato", sans-serif;
}

.light nav {
  background-color: white;
}
.light a {
  color:#0f172a; 
}
.light a:hover {
  color: #0891b2;
}
.light p {
  color:#0f172a 
}

/* Estilo cuando está activa la clase 'dark' en <html> */
.dark body {
  color: white;
  background: linear-gradient(to bottom, #0f172a, #1e293b);
  background-attachment: fixed;
}
